---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <h3>About</h3>
		<h1>A bit about this site</h1>
        <h2>This site is built with Astro</h2>
        <p>Astro is a modern static site generator that allows you to build fast websites using your favorite frameworks.</p>
	</body>
</html>
