---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Pages";
const pageSubtitle = "Welcome to my blog";
const pageOwner = "Freja";

---
<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle}>
<p>My name is {pageOwner}.</p>

</BaseLayout>